# 之前的panda基础去博客上去看

## series

### 创建series对象

In [1]:
import pandas as pd
import numpy as np
#创建空的series对象
s = pd.Series()
print(s,type(s))

Series([], dtype: float64) <class 'pandas.core.series.Series'>

In [2]:
#通过array创建
data = np.array(['zs','ls'])
s = pd.Series(data)
print(s,type(s))
s

0    zs
1    ls
dtype: object <class 'pandas.core.series.Series'>

0    zs
1    ls
dtype: object

In [3]:
#通过字典创建
data = {'a':0,'b':1,'c':2}
s = pd.Series(data)
s

a    0
b    1
c    2
dtype: int64

In [4]:
#从标量创建
s = pd.Series(5,index=[0,1,2,3])
s

0    5
1    5
2    5
3    5
dtype: int64

## Series查

In [5]:
### 给Series添加标签
data = {'a':0,'b':1,'c':2}
s = pd.Series(data,index=[1,2,3])
s

1   NaN
2   NaN
3   NaN
dtype: float64

In [6]:
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
#使用切片索引访问
s[0]

1

In [8]:
#使用标签访问，标签的底层是使用字典实现的，所以使用字典取值的方式
print(s['a'],'\n',s[['a','b']])

1
 a    1
b    2
dtype: int64

## series常用函数

In [9]:
#str[0]查看首字符
data = np.array(['zs','ls'])
s = pd.Series(data)
print(s.str[0],type(s))
s.str[0]

0    z
1    l
dtype: object <class 'pandas.core.series.Series'>

0    z
1    l
dtype: object

### pandas处理时间(基于series)

In [10]:
import pandas as pd
# pandas可以识别的日期字符串格式
dates = pd.Series(['2011', 
                   '2011-02', 
                   '2011-03-01', 
                   '2011/04/01', 
                   '2011/05/01 01:01:01', 
                   '01 Jun 2011']
                 )

In [11]:
# to_datetime() 转换日期数据格式
dates = pd.to_datetime(dates)
print(dates, dates.dtype, type(dates))

0   2011-01-01 00:00:00
1   2011-02-01 00:00:00
2   2011-03-01 00:00:00
3   2011-04-01 00:00:00
4   2011-05-01 01:01:01
5   2011-06-01 00:00:00
dtype: datetime64[ns] datetime64[ns] <class 'pandas.core.series.Series'>

In [12]:
#DatetimeIndex()转换日期格式,可以很方便的获取年月日时分秒
dates = pd.DatetimeIndex(dates)
print(dates,dates.dtype,type(dates))

DatetimeIndex(['2011-01-01 00:00:00', '2011-02-01 00:00:00',
               '2011-03-01 00:00:00', '2011-04-01 00:00:00',
               '2011-05-01 01:01:01', '2011-06-01 00:00:00'],
              dtype='datetime64[ns]', freq=None) datetime64[ns] <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [13]:
#使用.大法从DatetimeIndex()转换后的数据中取出数据
day = dates.day
day

Int64Index([1, 1, 1, 1, 1, 1], dtype='int64')

In [14]:
hour = dates.hour
hour

Int64Index([0, 0, 0, 0, 1, 0], dtype='int64')

In [15]:
# datetime类型数据支持日期运算
delta = dates - pd.to_datetime('1970-01-01')
# 获取天数数值
print(delta.dt.days)

AttributeError: 'TimedeltaIndex' object has no attribute 'dt'

series提供了很多时间相关的操作
Series.dt.year	The year of the datetime.
Series.dt.month	The month as January=1, December=12.
Series.dt.day	The days of the datetime.
Series.dt.hour	The hours of the datetime.
Series.dt.minute	The minutes of the datetime.
Series.dt.second	The seconds of the datetime.
Series.dt.microsecond	The microseconds of the datetime.
Series.dt.week	The week ordinal of the year.
Series.dt.weekofyear	The week ordinal of the year.
Series.dt.dayofweek	The day of the week with Monday=0, Sunday=6.
Series.dt.weekday	The day of the week with Monday=0, Sunday=6.
Series.dt.dayofyear	The ordinal day of the year.
Series.dt.quarter	The quarter of the date.
Series.dt.is_month_start	Indicates whether the date is the first day of the month.
Series.dt.is_month_end	Indicates whether the date is the last day of the month.
Series.dt.is_quarter_start	Indicator for whether the date is the first day of a quarter.
Series.dt.is_quarter_end	Indicator for whether the date is the last day of a quarter.
Series.dt.is_year_start	Indicate whether the date is the first day of a year.
Series.dt.is_year_end	Indicate whether the date is the last day of the year.
Series.dt.is_leap_year	Boolean indicator if the date belongs to a leap year.
Series.dt.days_in_month	The number of days in the month.

## DataFrame

### 常用函数

1. 设定索引
set_index('将该字段设为索引的字段名',inplace=True)
参数：想要将该列设为索引，就写这列的字段名,inplace=True表示在原dataframe进行设置

### 查

四种方法
1. df.loc,根据行，列的标签值查询
2. df.iloc,根据行，列的数字位置查询
3. df.where,根据行，列的数字位置查询
4. df.query,既能查询数据，又能同时进行覆盖写入，强大，用的多

In [21]:
import pandas as pd
#获取数据
df = pd.read_csv('/home/tarena/dataanalyze/mayipandas_files/datas/beijing_tianqi/beijing_tianqi_2018.csv')

In [22]:
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [23]:
#设定行级索引为日期，方便按日期筛选
df.set_index('ymd',inplace=True)
#查看行级索引
df.index

Index(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
       '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10',
       ...
       '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26',
       '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30', '2018-12-31'],
      dtype='object', name='ymd', length=365)

In [24]:
df.head()

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [25]:
#替换掉温度的后缀℃,并将该列的数据类型改为int32
df.loc[:,'bWendu'] = df['bWendu'].str.replace('℃','').astype('int32')
df.loc[:,'yWendu'] = df['yWendu'].str.replace('℃','').astype('int32')

In [26]:
df.dtypes

bWendu        int32
yWendu        int32
tianqi       object
fengxiang    object
fengli       object
aqi           int64
aqiInfo      object
aqiLevel      int64
dtype: object

In [27]:
df.head()

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2018-01-03       2      -5     多云        北风   1-2级   28       优         1
2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

In [28]:
#使用标签值来查询数据：行或列都可只传入单个值，实现精确匹配
df.loc['2018-01-03','bWendu']

2

In [29]:
df.loc['2018-01-03',['bWendu','yWendu']]
#返回的是Series

bWendu     2
yWendu    -5
Name: 2018-01-03, dtype: object

In [30]:
#使用值列表进行批量查询
df.loc[['2018-01-03','2018-01-04','2018-01-05'],'bWendu']

ymd
2018-01-03    2
2018-01-04    0
2018-01-05    3
Name: bWendu, dtype: int32

### 列操作

#### 列访问

In [ ]:
#使用字典取值的方式访问一列的数据，返回的数据类型是series
print(df['One'])

In [ ]:
#访问两列，返回的是dataframe
print(df[['One','Two']])

### MultiIndex

In [ ]:
new_df.index.names

## pandas数据类型：DateTimeIndex

常用于创建日期序列,通过指定周期和频率(年月日)
default的频率是天

In [ ]:
import pandas as pd

#以日期为频率创建日期序列
datelist = pd.date_range('2019/08/21',periods=5)
datelist

In [ ]:
#以月为频率
datelist = pd.date_range('2019/08/21',periods=5,freq='M')
datelist

In [ ]:
#构建某个区间的时间序列
start = pd.datetime(2017,11,1)
end = pd.datetime(2017,11,5)
dates = pd.date_range(start,end)
dates

## panel

### pandas从版本0.20.0开始弃用它，推荐使用DataFrame的MultiIndex方法表示三维数据

用于存储三维结构的数据类型，通常将panel看成dataframe的容器
有三个维度：
items -axis 0 每个项目对应于内部包含的数据帧(DataFrame)
major_axis - axis 1,它是每个数据帧(DataFrame)的行索引
minor_axis -axis 2,它是每个数据帧(DataFrame)的列索引

In [17]:
import numpy as np
import pandas as pd
#创建
p = pd.Panel(np.arange(24).reshape(4,3,2),
            items=list('ABCD'),    #第一维标签
            major_axis=pd.date_range('20130101',periods=3),#第二维标签
            minor_axis=['first','second']#第三维标签
            )
p

TypeError: object() takes no parameters

In [ ]:
#从items_axis维度查看(其实查看到的是一个dataframe)
p['A']

In [ ]:
#从major_axis维度查看
p.major_xs('2013-01-01')

In [ ]:
#从minor_axis维度查看
p.minor_xs('first')

## 缺失值处理

In [35]:
import pandas as pd
import numpy as np

studf = pd.read_excel('./mayipandas_files/datas/student_excel/student_excel.xlsx',skiprows=2)

In [36]:
studf

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

发现有很多缺失值

In [37]:
#使用isnull()判空，若为空则返回True
studf['分数'].isnull()

0     False
1     False
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9     False
10    False
Name: 分数, dtype: bool

In [38]:
#与isnull()相反，为notnull()
studf['科目'].notnull()

0      True
1      True
2      True
3     False
4      True
5      True
6      True
7     False
8      True
9      True
10     True
Name: 科目, dtype: bool

In [39]:
#使用布尔索引过滤出不是空行的行
studf.loc[studf['科目'].notnull()]

    Unnamed: 0   姓名  科目    分数
0          NaN   小明  语文  85.0
1          NaN  NaN  数学  80.0
2          NaN  NaN  英语  90.0
4          NaN   小王  语文  85.0
5          NaN  NaN  数学   NaN
6          NaN  NaN  英语  90.0
8          NaN   小刚  语文  85.0
9          NaN  NaN  数学  80.0
10         NaN  NaN  英语  90.0

In [40]:
# 删除掉全是空值的列
# axis='columns'指定删除的是列
#how='all'表示删除的条件:如果该列都为空，则删除掉
#inplace=True：修改当前的dataframe
studf.dropna(axis='columns',how='all',inplace=True)
studf

     姓名   科目    分数
0    小明   语文  85.0
1   NaN   数学  80.0
2   NaN   英语  90.0
3   NaN  NaN   NaN
4    小王   语文  85.0
5   NaN   数学   NaN
6   NaN   英语  90.0
7   NaN  NaN   NaN
8    小刚   语文  85.0
9   NaN   数学  80.0
10  NaN   英语  90.0

In [43]:
#删除掉全是空值的行
studf.dropna(axis='index',how='all',inplace=True)
studf

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   NaN
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [44]:
#将分数列为空的替换成0
studf.fillna({'分数':0})

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   0.0
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [46]:
#将姓名的缺失值进行填充
#method='fill'表示使用前面的值进行填充
studf.loc[:,'姓名'] = studf['姓名'].fillna(method='ffill')
studf

    姓名  科目    分数
0   小明  语文  85.0
1   小明  数学  80.0
2   小明  英语  90.0
4   小王  语文  85.0
5   小王  数学   NaN
6   小王  英语  90.0
8   小刚  语文  85.0
9   小刚  数学  80.0
10  小刚  英语  90.0

In [49]:
#将清洗完的数据进行保存
#参数：io给出一个生成文件的路径名字
#参数:index＝False表示将最左边的索引列不生成在excel中
studf.to_excel('./mayipandas_files/datas/student_excel/student_excel_clean.xlsx',index=False)

## pandas分组聚合

再许多情况下，我们将数据分成多个集合，并在每个子集上应用一些函数，在应用函数中，可以执行一下操作
1. 聚合，计算汇总统计
2. 转换，执行一些特定于组的操作
3. 过滤，在某些情况下丢弃数据

In [ ]:
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df

In [ ]:
# 1.根据year分组
grouped = df.groupby('Year')
grouped.groups

In [ ]:
#查看某个分组的细节
grouped.get_group(2014)

In [ ]:
import numpy as np
# 2.对分组进行聚合操作
#聚合函数为每个组返回聚合值，当创建了分组(groupby)对象，
#就可以对每个分组数据执行聚合，求标准差等操作
grouped = df.groupby('Year')

In [ ]:
#聚合:对每一个分组求points字段的均值
print(grouped['Points'].agg(np.mean))

In [ ]:
#聚合：对每个分组求points字段的和，标准差
grouped['Points'].agg([np.mean,np.sum,np.std])

## pandas数据表关联操作(与sql非常相似)

In [ ]:
#学生表和班级表的相同字段为class_id
#学生表
left = pd.DataFrame({
         'student_id':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
         'student_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung', 'Billy', 'Brian', 'Bran', 'Bryce', 'Betty', 'Emma', 'Marry', 'Allen', 'Jean', 'Rose', 'David', 'Tom', 'Jack', 'Daniel', 'Andrew'],
         'class_id':[1,1,1,2,2,2,3,3,3,4,1,1,1,2,2,2,3,3,3,2], 
         'gender':['M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F'], 
         'age':[20,21,22,20,21,22,23,20,21,22,20,21,22,23,20,21,22,20,21,22], 
         'score':[98,74,67,38,65,29,32,34,85,64,52,38,26,89,68,46,32,78,79,87]})
#班级表
right = pd.DataFrame(
         {'class_id':[1,2,3,5],
         'class_name': ['ClassA', 'ClassB', 'ClassC', 'ClassE']})
# 合并两个DataFrame
data = pd.merge(left,right)
data

In [ ]:
#使用how参数merge,默认是内连接inner(且一般也是使用内连接)
#how='left':左连接：使用左侧对象(表)的键
#how='right':右连接：使用右侧对象(表)的键
#how='outer':全外连接：使用键的联合
#how='inner':内连接：使用键的交集

In [ ]:
pd.merge(left,right,on='class_id',how='left')

In [ ]:
pd.merge(left,right,on='class_id',how='outer')

In [ ]:
pd.merge(left,right,on='class_id',how='inner')

## pandas透视表与交叉表

透视表的概念可以参考数据库，作用是方便我们拿到原始数据集中的一块数据

tips:透视表是各种电子表格程序和其他数据分析软件中一种常见的数据汇总工具，他根据一个或多个键对数据进行分组聚合(比groupby更加灵活)，并根据每个分组进行数据汇总

In [ ]:
import pandas as pd 

#原始数据
left = pd.DataFrame({
         'student_id':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
         'student_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung', 'Billy', 'Brian', 'Bran', 'Bryce', 'Betty', 'Emma', 'Marry', 'Allen', 'Jean', 'Rose', 'David', 'Tom', 'Jack', 'Daniel', 'Andrew'],
         'class_id':[1,1,1,2,2,2,3,3,3,4,1,1,1,2,2,2,3,3,3,2], 
         'gender':['M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F'], 
         'age':[20,21,22,20,21,22,23,20,21,22,20,21,22,23,20,21,22,20,21,22], 
         'score':[98,74,67,38,65,29,32,34,85,64,52,38,26,89,68,46,32,78,79,87]})
right = pd.DataFrame(
         {'class_id':[1,2,3,5],
         'class_name': ['ClassA', 'ClassB', 'ClassC', 'ClassE']})
# 合并两个DataFrame
df = pd.merge(left,right)
df

In [ ]:
#透视表
#以class_id与gender做分组汇总数据，默认聚合统计所有列｀
a = df.pivot_table(index=['class_id','gender'])
print(a)
print('*'*45)
#根据行级标签访问
print(a.loc[1])
print('*'*45)
print(a.loc[1,'F'])
print('*'*20)
print(a.loc[1,'F']['age'])
#age,score,student_id这三列都为平均值

In [ ]:
#以class_id与gender做分组汇总数据，聚合统计score列
print(df.pivot_table(index=['class_id','gender'],values=['score']))

In [ ]:
#以class_id与gender做分组汇总数据，聚合统计score列，针对age的每个值列级分组统计
print(df.pivot_table(index=['class_id','gender'],values=['score'],columns=['age']))

In [ ]:
#以class__id与gender做分组汇总数据，聚合统计score列，针对age的每个值列级分组统计，添加行，列总计
print(data.pivot_table(index=['class_id','gender'],
                               values=['score'],
                               columns=['age'],
                               margins=True))

In [ ]:
#以class_id与gender做分组汇总数据，聚合统计score列，针对age的每个值列级分组统计，添加行，列总计
print(df.pivot_table(index=['class_id','gender'],
                     values=['score'],
                     columns=['age'],
                     aggfunc='max',
                     margins=True))

## 交叉表：用于计算分组频率的特殊透视表

In [ ]:
#按照class_id分组，针对不同的gender，统计数量
pd.crosstab(df.class_id,df.gender,margins=True)

## pandas可视化：基于matplotlib的，得装matplotlib

In [ ]:
import numpy as np
import matplotlib.pyplot as mp 

df = pd.DataFrame(np.random.randn(10,4),index=pd.date_range('2018/12/18',
   periods=10), columns=list('ABCD'))
df.plot(kind='bar')#kind参数，'bar'柱状图，'hist'直方图，'scatter'散点图
mp.show()

###### 等等

## 数据读取与存储

## 布尔索引:根据条件过滤出满足条件的记录

In [ ]:
import pandas as pd
import numpy as np
#bool索引：根据条件过滤出满足条件的记录
df = pandas.DataFrame(np.random.randn(4,4),columns=['A','B','C','D'])
df

In [ ]:
df.A > 0

In [ ]:
df[df.A > 0]

## pandas常用函数

In [ ]:
#df.query(条件),选取满足条件的行(对象)

In [ ]:
#df.isin(列表)，判断df中数据是否在列表的数据中，若在则返回true
#往往和布尔索引结合使用
df['E'] = ['a','a,','c','b']
df

In [ ]:
df.E.isin(['a','c'])

In [ ]:
df[df.E.isin(['a','c'])]