# 之前的panda基础去博客上去看

## series

### 创建series对象

In [1]:
import pandas as pd
import numpy as np
#创建空的series对象
s = pd.Series()
print(s,type(s))

Series([], dtype: float64) <class 'pandas.core.series.Series'>

In [2]:
#通过array创建
data = np.array(['zs','ls'])
s = pd.Series(data)
print(s,type(s))
s

0    zs
1    ls
dtype: object <class 'pandas.core.series.Series'>

0    zs
1    ls
dtype: object

In [3]:
#通过字典创建
data = {'a':0,'b':1,'c':2}
s = pd.Series(data)
s

a    0
b    1
c    2
dtype: int64

In [4]:
#从标量创建
s = pd.Series(5,index=[0,1,2,3])
s

0    5
1    5
2    5
3    5
dtype: int64

## Series查

In [5]:
### 给Series添加标签
data = {'a':0,'b':1,'c':2}
s = pd.Series(data,index=[1,2,3])
s

1   NaN
2   NaN
3   NaN
dtype: float64

In [6]:
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
#使用切片索引访问
s[0]

1

In [8]:
#使用标签访问，标签的底层是使用字典实现的，所以使用字典取值的方式
print(s['a'],'\n',s[['a','b']])

1
 a    1
b    2
dtype: int64

## series常用函数

In [9]:
#str[0]查看首字符
data = np.array(['zs','ls'])
s = pd.Series(data)
print(s.str[0],type(s))
s.str[0]

0    z
1    l
dtype: object <class 'pandas.core.series.Series'>

0    z
1    l
dtype: object

apply(obj,axis=1)
功能：创建series

### pandas处理日期时间(基于series)

In [7]:
import numpy as np
import pandas as pd

#处理pandas不能识别的日期格式,将其转化为datetime64格式
date = np.array(['2019年1月','2019年2月'])
date = pd.Series(date)
dates = pd.to_datetime(date,format='%Y年%m月',errors='coerce')
dates

0   2019-01-01
1   2019-02-01
dtype: datetime64[ns]

In [8]:
import pandas as pd
# pandas可以识别的日期字符串格式
dates = pd.Series(['2011', 
                   '2011-02', 
                   '2011-03-01', 
                   '2011/04/01', 
                   '2011/05/01 01:01:01', 
                   '01 Jun 2011']
                 )

In [9]:
# to_datetime() 转换日期数据格式
dates = pd.to_datetime(dates)
print(dates, dates.dtype, type(dates))

0   2011-01-01 00:00:00
1   2011-02-01 00:00:00
2   2011-03-01 00:00:00
3   2011-04-01 00:00:00
4   2011-05-01 01:01:01
5   2011-06-01 00:00:00
dtype: datetime64[ns] datetime64[ns] <class 'pandas.core.series.Series'>

In [10]:
#DatetimeIndex()转换日期格式,可以很方便的获取年月日时分秒
dates = pd.DatetimeIndex(dates)
print(dates,dates.dtype,type(dates))

DatetimeIndex(['2011-01-01 00:00:00', '2011-02-01 00:00:00',
               '2011-03-01 00:00:00', '2011-04-01 00:00:00',
               '2011-05-01 01:01:01', '2011-06-01 00:00:00'],
              dtype='datetime64[ns]', freq=None) datetime64[ns] <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [11]:
#使用.大法从DatetimeIndex()转换后的数据中取出数据
day = dates.day
day

Int64Index([1, 1, 1, 1, 1, 1], dtype='int64')

In [14]:
#提取日期
date = dates.date
date

array([datetime.date(2011, 1, 1), datetime.date(2011, 2, 1),
       datetime.date(2011, 3, 1), datetime.date(2011, 4, 1),
       datetime.date(2011, 5, 1), datetime.date(2011, 6, 1)], dtype=object)

In [14]:
hour = dates.hour
hour

Int64Index([0, 0, 0, 0, 1, 0], dtype='int64')

In [15]:
# datetime类型数据支持日期运算
delta = dates - pd.to_datetime('1970-01-01')
# 获取天数数值
print(delta.dt.days)

AttributeError: 'TimedeltaIndex' object has no attribute 'dt'

series提供了很多时间相关的操作
Series.dt.year	The year of the datetime.
Series.dt.month	The month as January=1, December=12.
Series.dt.day	The days of the datetime.
Series.dt.hour	The hours of the datetime.
Series.dt.minute	The minutes of the datetime.
Series.dt.second	The seconds of the datetime.
Series.dt.microsecond	The microseconds of the datetime.
Series.dt.week	The week ordinal of the year.
Series.dt.weekofyear	The week ordinal of the year.
Series.dt.dayofweek	The day of the week with Monday=0, Sunday=6.
Series.dt.weekday	The day of the week with Monday=0, Sunday=6.
Series.dt.dayofyear	The ordinal day of the year.
Series.dt.quarter	The quarter of the date.
Series.dt.is_month_start	Indicates whether the date is the first day of the month.
Series.dt.is_month_end	Indicates whether the date is the last day of the month.
Series.dt.is_quarter_start	Indicator for whether the date is the first day of a quarter.
Series.dt.is_quarter_end	Indicator for whether the date is the last day of a quarter.
Series.dt.is_year_start	Indicate whether the date is the first day of a year.
Series.dt.is_year_end	Indicate whether the date is the last day of the year.
Series.dt.is_leap_year	Boolean indicator if the date belongs to a leap year.
Series.dt.days_in_month	The number of days in the month.

## DataFrame

### 创建dataframe

In [14]:
#1. 创建空的dataframe
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [15]:
#2.通过列表创建
data = [1,2,34,4,5]
df = pd.DataFrame(data)
df

    0
0   1
1   2
2  34
3   4
4   5

In [16]:
data = [['Alex',10],
        ['Bob',12],
        ['Clark',13]
       ]
f = pd.DataFrame(data,columns=['name','age'],dtype=float)
f

    name   age
0   Alex  10.0
1    Bob  12.0
2  Clark  13.0

In [17]:
#通过字典创建dataframe
data = [{'a':1,'b':2},
        {'a':5,'b':10,'c':20}]
df = pd.DataFrame(data)
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [18]:
data = {'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data,index=['s1','s2','s3','s4'])
df

     Name  Age
s1    Tom   28
s2   Jack   34
s3  Steve   29
s4  Ricky   42

In [19]:
#通过series创建df
data = {'one':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data,index=['s1','s2','s3','s4'])
df

      one  Age
s1    Tom   28
s2   Jack   34
s3  Steve   29
s4  Ricky   42

In [ ]:
#使用apply()创建
df = df.apply(lambda x: x[3] * x[5].axis=1)

### 常用函数

1. 设定索引
set_index('将该字段设为索引的字段名',inplace=True)
参数：想要将该列设为索引，就写这列的字段名,inplace=True表示在原dataframe进行设置

2. pandas.concat(obj,axis=0,join='outer',ignore_index=False)

使用场景：批量合并相同格式的excel,给dataframe添加行，列

参数
   1. obj:一个列表，里面放需要合并的dataframe或者series
   2. axis默认按行合并，=1代表按列合并
   3. join:合并的时候索引的对齐方式，默认是outer join,也可以是inner join
   4. ignore_index:是否忽略掉原来的数据索引

3. append:dataframe.append(other,ignore_index=False)

功能:按行合并，相当于concat()的按行合并

参数:
1. other:单个dataframe,series,dict,或者列表
2. ignore_index:是否忽略原来的数据索引

### 查

五种方法
1. df.loc,根据行，列的标签值查询
2. df.iloc,根据行，列的数字位置查询
3. df.where,根据行，列的数字位置查询
4. df.query,既能查询数据，又能同时进行覆盖写入，强大，用的多
5. 使用字典键索引的方式查列

In [21]:
import pandas as pd
#获取数据
df = pd.read_csv('/home/tarena/dataanalyze/mayipandas_files/datas/beijing_tianqi/beijing_tianqi_2018.csv')

In [22]:
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [23]:
#设定行级索引为日期，方便按日期筛选
df.set_index('ymd',inplace=True)
#查看行级索引
df.index

Index(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
       '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10',
       ...
       '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26',
       '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30', '2018-12-31'],
      dtype='object', name='ymd', length=365)

In [24]:
df.head()

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [25]:
#替换掉温度的后缀℃,并将该列的数据类型改为int32
df.loc[:,'bWendu'] = df['bWendu'].str.replace('℃','').astype('int32')
df.loc[:,'yWendu'] = df['yWendu'].str.replace('℃','').astype('int32')

In [26]:
df.dtypes

bWendu        int32
yWendu        int32
tianqi       object
fengxiang    object
fengli       object
aqi           int64
aqiInfo      object
aqiLevel      int64
dtype: object

In [27]:
df.head()

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2018-01-03       2      -5     多云        北风   1-2级   28       优         1
2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

In [28]:
#使用标签值来查询数据：行或列都可只传入单个值，实现精确匹配
df.loc['2018-01-03','bWendu']

2

In [29]:
df.loc['2018-01-03',['bWendu','yWendu']]
#返回的是Series

bWendu     2
yWendu    -5
Name: 2018-01-03, dtype: object

In [30]:
#使用值列表进行批量查询,得到的是Series
df.loc[['2018-01-03','2018-01-04','2018-01-05'],'bWendu']

ymd
2018-01-03    2
2018-01-04    0
2018-01-05    3
Name: bWendu, dtype: int32

In [33]:
#得到Dataframe
df.loc[['2018-01-03','2018-01-04','2018-01-05'],['bWendu','yWendu']]

            bWendu  yWendu
ymd
2018-01-03       2      -5
2018-01-04       0      -8
2018-01-05       3      -6

In [36]:
#行使用值区间(:)进行范围查询
#区间既包含开始，也包含结束
#返回结果为Series
df.loc['2018-01-03':'2018-01-05','bWendu']

ymd
2018-01-03    2
2018-01-04    0
2018-01-05    3
Name: bWendu, dtype: int32

In [37]:
#列使用值区间(:)进行范围查询
#返回结果为Series
df.loc['2018-01-03','bWendu':'fengxiang']

bWendu        2
yWendu       -5
tianqi       多云
fengxiang    北风
Name: 2018-01-03, dtype: object

In [39]:
#行和列都按区间查询
#返回值为dataframe
df.loc['2018-01-03':'2018-01-05','bWendu':'fengxiang']

            bWendu  yWendu tianqi fengxiang
ymd
2018-01-03       2      -5     多云        北风
2018-01-04       0      -8      阴       东北风
2018-01-05       3      -6   多云~晴       西北风

In [40]:
#4.使用布尔索引进行查询
df.loc[df['yWendu']<10,:]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2018-01-03       2      -5     多云        北风   1-2级   28       优         1
2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1
...            ...     ...    ...       ...    ...  ...     ...       ...
2018-12-27      -5     -12   多云~晴       西北风     3级   48       优         1
2018-12-28      -3     -11      晴       西北风     3级   40       优         1
2018-12-29      -3     -12      晴       西北风     2级   29       优         1
2018-12-30      -2     -11   晴~多云       东北风     1级   31       优         1
2018-12-31      -2     -10     多云       东北风     1级   56       良         2

[188 rows x 8 columns]

In [46]:
#案例：查询最高温度小于30度，并且最低温度大于15℃，并且是晴天，并且天气为优的天气
df.loc[(df['bWendu']<=30) & (df['yWendu']>=15) & (df['tianqi']=='晴') & (df['aqiLevel']==1),:]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-08-24      30      20      晴        北风   1-2级   40       优         1
2018-09-07      27      16      晴       西北风   3-4级   22       优         1

In [47]:
#5.使用lambda表达式查询
df.loc[lambda df : (df['bWendu']<=30) & (df['yWendu']>=15),:]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-04-28      27      17      晴       西南风   3-4级  125    轻度污染         3
2018-04-29      30      16     多云        南风   3-4级  193    中度污染         4
2018-05-04      27      16   晴~多云       西南风   1-2级   86       良         2
2018-05-09      29      17   晴~多云       西南风   3-4级   79       良         2
2018-05-10      26      18     多云        南风   3-4级  118    轻度污染         3
...            ...     ...    ...       ...    ...  ...     ...       ...
2018-09-15      26      15     多云        北风   3-4级   42       优         1
2018-09-17      27      17   多云~阴        北风   1-2级   37       优         1
2018-09-18      25      17   阴~多云       西南风   1-2级   50       优         1
2018-09-19      26      17     多云        南风   1-2级   52       良         2
2018-09-20      27      16     多云       西南风   1-2级   63       良         2

[64 rows x 8 columns]

In [48]:
#6.编写自己的函数，查询9月份空气质量好的数据
def query_my_data(df):
    return df.index.str.startswith('2018-09') & df['aqiLevel']==1
df.loc[query_my_data,:]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-09-01      27      19   阴~小雨        南风   1-2级   50       优         1
2018-09-04      31      18      晴       西南风   3-4级   24       优         1
2018-09-05      31      19   晴~多云       西南风   3-4级   34       优         1
2018-09-06      27      18   多云~晴       西北风   4-5级   37       优         1
2018-09-07      27      16      晴       西北风   3-4级   22       优         1
2018-09-08      27      15   多云~晴        北风   1-2级   28       优         1
2018-09-13      29      20   多云~阴        南风   1-2级  107    轻度污染         3
2018-09-14      28      19  小雨~多云        南风   1-2级  128    轻度污染         3
2018-09-15      26      15     多云        北风   3-4级   42       优         1
2018-09-16      25      14   多云~晴        北风   1-2级   29       优         1
2018-09-17      27      17   多云~阴        北风   1-2级   37       优         1
2018-09-18      25      17   阴~多云       西南风   1-2级   50       优         1
2018-09-21      25      14      晴       西北风   3-4级   50       优         1
2018-09-22      24      13      晴       西北风   3-4级   28       优         1
2018-09-23      23      12      晴       西北风   4-5级   28       优         1
2018-09-24      23      11      晴        北风   1-2级   28       优         1
2018-09-25      24      12   晴~多云        南风   1-2级   44       优         1
2018-09-29      22      11      晴        北风   3-4级   21       优         1
2018-09-30      19      13     多云       西北风   4-5级   22       优         1

In [9]:
#7. 使用iloc索引访问
df.iloc[1]

NameError: name 'df' is not defined

In [ ]:
#8. 使用字典索引方式查列
df['bWendy']
df['bWendy','yWendy']

### 增

In [59]:
#使用concat()
df = pd.concat([pd.DataFrame([i],columns=['A']) for i in range(5)],
         ignore_index=True
         )
df

   A
0  0
1  1
2  2
3  3
4  4

In [20]:
#使用字典赋值的方式
data = {'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data,index=['s1','s2','s3','s4'])
print(df)	#查看当前dataframe
#通过字典赋值的方式添加列及列元素
df['score']=pd.Series([10,20,30,40],index=df.index)

     Name  Age
s1    Tom   28
s2   Jack   34
s3  Steve   29
s4  Ricky   42

### 删

In [ ]:
#删除掉有空值的行/列
#参数：how='any'表示只要有空值就删除掉
#删除数据时一定遵循copy()原则，保留原数据
df = df.dropna(how='any').copy()

### 改

In [ ]:
#使用重新赋值的方式
df['InvoiceDate'] = df['InvoieDate'].dt.date

### pandas操作excel

In [34]:
#当前需要拆分的excel所在目录
work_dir = './mayipandas_files/course_datas/c15_excel_split_merge'
#将拆分后的excel放到该目录下
splits_dir = f'{work_dir}/splits'

import os
if not os.path.exists(splits_dir):
    os.mkdir(splits_dir)

In [35]:
import pandas as pd

#读取原excel到pandas
df_source = pd.read_excel(f'{work_dir}/crazyant_blog_articles_source.xlsx')

In [36]:
df_source.head()

     id                 title                    tags
0  2585  Tensorflow怎样接收变长列表特征  python,tensorflow,特征工程
1  2583   Pandas实现数据的合并concat      pandas,python,数据分析
2  2574  Pandas的Index索引有什么用途？      pandas,python,数据分析
3  2564           机器学习常用数据集大全             python,机器学习
4  2561          一个数据科学家的修炼路径                    数据分析

In [37]:
#查看行索引
df_source.index

RangeIndex(start=0, stop=258, step=1)

In [38]:
#查看维度
df_source.shape

(258, 3)

In [39]:
#获取excel总行数
total_row_count = df_source.shape[0]
total_row_count

258

#### 拆分excel

In [40]:
#拆分给这６个人
user_names = ['xiao_shuai','xiao_wang','xiao_ming','xiao_lei','xiao_bo','xiao_hong']
#按行拆分成６份，让六个人去分，若不能整除则让前面的人都分担一行
split_rows = total_row_count // len(user_names)
if total_row_count % len(user_names) != 0:
    split_rows += 1

split_rows

43

In [44]:
#每个子dataframe的容器
df_subs = []
for idx,user_name in enumerate(user_names,start=0):
    #每个子df的开始行索引
    begin = idx * split_rows
    #每个子df的结束行索引
    end = begin + split_rows
    #拆分iloc
    df_sub = df_source.iloc[begin:end]
    #将每个子df存入列表
    df_subs.append((idx,user_name,df_sub))
df_subs

[(0, 'xiao_shuai',       id                                    title  \
  0   2585                     Tensorflow怎样接收变长列表特征
  1   2583                      Pandas实现数据的合并concat
  2   2574                     Pandas的Index索引有什么用途？
  3   2564                              机器学习常用数据集大全
  4   2561                             一个数据科学家的修炼路径
  5   2546                       Pandas的axis参数怎么理解？
  6   2541                           Pandas怎样处理字符串？
  7   2536                         Pandas怎样对数据进行排序？
  8   2534               CTR预估：(标签-权重)列表类特征怎么输入到模型？
  9   2532                            Pandas对缺失值的处理
  10  2528     Pandas的SettingWithCopyWarning报警怎么回事？
  11  2525                    3分钟Python爬取9000张表情包图片
  12  2523                      Pandas系列 – 怎样新增数据列？
  13  2521                        Pandas系列 – 数据统计函数
  14  2517                   Pandas怎样根据码表更新ID对应的名称？
  15  2515                          Pandas怎样按条件删除行？
  16  2506                       Pandas系列-查询数据的5种方法
  17  2502            Pandas系列-DataFrame和Series数据结构
  18  2499             Pandas系列-读取csv/excel/mysql数据
  19  2469                   Spark使用Java开发遇到的那些类型错误
  20  2454                       推荐系统：实现文章相似推荐的简单实例
  21  2447        Spark使用word2vec训练item2vec实现内容相关推荐
  22  2434                Pandas中对轴axis=0和axis=1的理解
  23  2419              Flask使用Pyecharts在单个页面展示多个图表
  24  2404                              听樊登的《非暴力沟通》
  25  2367  Java和Python使用Grpc访问Tensorflow的Serving代码
  26  2351                          推荐系统：怎样实现内容相似推荐
  27  2343        Flask怎样从其他Python文件导入app.route视图函数
  28  2336                             我为什么从工程转了算法？
  29  2324                         推荐系统：爱奇艺知识推荐系统架构
  30  2303            Spark使用JAVA编写自定义函数修改DataFrame
  31  2301                   tensorflow怎样输入具有多个值的特征
  32  2283         Python3用scan和delete命令批量清理redis数据
  33  2273                   CentOS自己编译安装Python3的命令
  34  2261                 PyCharm开发PySpark程序的配置和实例
  35  2231                            Spark数据倾斜解决方法
  36  2194                        读书笔记 – 数据驱动从方法到实践
  37  2177              使用PaddlePaddle搭建卷积网络做文本数据分类
  38  2167                  使用Kmeans对Word2vec的输出做聚类
  39  2160                          Hive实现返回MAP的UDF
  40  2150                             Python高级编程技巧
  41  2145                      快速找到Tomcat中最耗CPU的线程
  42  2124              Java线程池ThreadPoolExecutor详解

                                tags
  0           python,tensorflow,特征工程
  1               pandas,python,数据分析
  2               pandas,python,数据分析
  3                      python,机器学习
  4                             数据分析
  5               pandas,python,数据分析
  6               pandas,python,数据分析
  7               pandas,python,数据分析
  8                      python,机器学习
  9               pandas,python,数据分析
  10              pandas,python,数据分析
  11                       python,爬虫
  12                   pandas,python
  13              pandas,python,数据分析
  14                          pandas
  15                   pandas,python
  16              pandas,python,数据分析
  17              pandas,python,数据分析
  18              pandas,python,数据分析
  19                      java,spark
  20      pandas,python,sklearn,推荐系统
  21              item2vec,java,推荐系统
  22                   pandas,python
  23  echarts,flask,pyecharts,python
  24                            程序人生
  25          java,python,tensorflow
  26                            推荐系统
  27                    flask,python
  28                     大数据,程序人生,算法
  29                            推荐系统
  30                java,mysql,spark
  31               python,tensorflow
  32                    python,redis
  33                    python,shell
  34            pyspark,python,spark
  35                           spark
  36                   人工智能,大数据,数据驱动
  37               paddlepaddle,机器学习
  38                         机器学习,聚类
  39                            hive
  40                          python
  41                 java,jvm,tomcat
  42                            java  ),
 (1,
  'xiao_wang',
        id                                              title  \
  43  2120                              Zookeeper并不保证读取的是最新数据
  44  2089                                Mybatis源码解读-初始化过程详解
  45  2076                               怎样借助Python爬虫给宝宝起个好名字
  46  2022                                 Mybatis源码解读-设计模式总结
  47  2012                                 打工者心态、主人公意识、个人公司品牌
  48  1980                           Tomcat内存分析相关方法(jmap和mat)
  49  1973                                  如此重要但是经常被忽视的代码架构！
  50  1964                          Stay hungry, Stay foolish
  51  1961                                MAC挂载NTFS移动硬盘进行读写操作
  52  1957                                         工程师的月亮和六便士
  53  1946                                  MAC环境堪比Visio的画图神器
  54  1931                      Log4j将不同Package的日志输出到不同的文件的方法
  55  1922                            数据处理中提升性能的方法-引入并发但是避免同步
  56  1901                       MySQL导入导出数据时遇到Tab符号和换行符号怎么办？
  57  1898                              使用PHPUnit编写PHP单元测试的方法
  58  1895                              Bash Shell怎样检查文件是否存在？
  59  1890                        Python使用unittest实现简单的单元测试实例
  60  1886                              将Maven工程打包成可执行JAR包的方法
  61  1861                                      Java线程死亡的几种情况
  62  1858                                 通过JVM堆栈分析出现大量线程的原因
  63  1835                                想要加悲观锁可是数据行还不存在怎么办？
  64  1810                  Java堆溢出OutOfMemoryError之代码实例和原因分析
  65  1789                          Python中文转拼音代码(支持全拼和首字母缩写)
  66  1784  使用javap命令或者eclipse的Bytecode visualizer插件阅读java...
  67  1782                                 Java怎样单测void类型的方法？
  68  1777                              《解忧杂货店》- 解答心中已经有结论的疑问
  69  1763                                  有了事务为什么还需要乐观锁和悲观锁
  70  1741                                       数据库并发控制机制的理解
  71  1735                                        读书破万卷，代码如有神
  72  1722           《Spring in action》3rd中SpringPizza项目的运行方法
  73  1712                                           做设计就像创世界
  74  1707                  Python使用list字段模式或者dict字段模式读取文件的方法
  75  1703                        Java怎样创建两个KEY（key-pair）的MAP
  76  1697                                           《超体》中的哲学
  77  1689                               Java枚举类型代码的二逼写法和艺术写法
  78  1664                                  Python操作MySQL视频教程
  79  1625                                      Hive开发经验问答式总结
  80  1607                       将普通Maven Spring项目转换成Web项目的方法
  81  1600                              Hive取非Group by字段数据的方法
  82  1587                         MySQL执行Select语句将结果导出到文件的方法
  83  1470  Hive的left join、left outer join和left semi join三...
  84  1465                                       将网站的创意变成钱的过程
  85  1459                                       从产品和技术的对比想到的

                                tags
  43                       zookeeper
  44                         mybatis
  45                       python,爬虫
  46                    mybatis,设计模式
  47                            程序人生
  48                     java,tomcat
  49                            技术架构
  50                            程序人生
  51                             mac
  52                            程序人生
  53                             mac
  54                      java,log4j
  55  java,php,python,shell,大数据,数据处理
  56                    mysql,python
  57                             php
  58                     linux,shell
  59                       python,单测
  60                      java,maven
  61                            java
  62                        java,jvm
  63                       java,并发控制
  64                        java,jvm
  65                          python
  66                            java
  67                            java
  68                            程序人生
  69                       mysql,数据库
  70                              事务
  71                         java,阅读
  72                          spring
  73                         程序人生,设计
  74                          python
  75                            java
  76                              思考
  77                            java
  78                 mysql,python,视频
  79                            hive
  80                      java,maven
  81                            hive
  82                           mysql
  83                            hive
  84                              站长
  85                            程序人生  ),
 (2,
  'xiao_ming',
         id                                 title                     tags
  86   1456          Hive中Order by和Sort by的区别是什么?                     hive
  87   1451                      向Hive程序传递变量的三种方法                     hive
  88   1440                       把HIVE程序优化30倍的经验                     hive
  89   1437           Hive使用TRANSFORM运行Python脚本总结                     hive
  90   1428                MySQL 查看数据库中每个表占用的空间大小                    mysql
  91   1426       Java使用lombok自动生成getter和setter方法                     java
  92   1423                   MapReduce文件切分个数计算方法                   hadoop
  93   1413                        《大数据时代》是一部科幻小说                   hadoop
  94   1409        [转]Hive中对group结果分组取limit N值的实现                     hive
  95   1404                           HIVE的几个使用技巧                     hive
  96   1397                      Python批量重命名文件的方法                   python
  97   1390  Python内置函数map、reduce、filter在文本处理中的应用                   python
  98   1372      chrome自动刷新网页插件：Auto Refresh Plus                   chrome
  99   1355                     MySQL数据导入导出实例教程手册                    mysql
  100  1345                     MySQL一条语句更新多个表的方法                    mysql
  101  1337                      mysql根据A表更新B表的方法             mysql,python
  102  1326           [织梦DEDE迁移]读取织梦MySQL生成所有文章链接                       织梦
  103  1321                   Python访问MySQL封装的常用类             mysql,python
  104  1319                    python执行shell的两种方法             python,shell
  105  1309                       Python封装的常用日期函数                   python
  106  1303                       python子类调用父类的方法                   python
  107  1297               wordpress按层级方式显示分类链接的方法                wordpress
  108  1292                       Firefox数据采集插件大全                  数据采集,爬虫
  109  1216                    Python生成文件md5校验值函数                   python
  110  1214  网站从织梦DEDECMS迁移到WordPress过程以及URL重定向方法                       织梦
  111  1209             shell/hadoop/hive一些有用命令收集  hadoop,hive,mysql,shell
  112  1203                      Hive开发中使用变量的两种方法                     hive
  113  1197                 hive从查询中获取数据插入到表或动态分区                     hive
  114  1193                  Hive元数据存于mysql中文乱码解决               hive,mysql
  115  1185      为eclipse安装python、shell开发环境和SVN插件             python,shell
  116  1144      hadoop第一个程序WordCount.java的编译运行过程                   hadoop
  117  1129                   MYSQL向数据表插入默认字段值的方法                    mysql
  118  1122         Hadoop-Streaming实战经验及问题解决方法总结                   hadoop
  119  1112          Hadoop之使用python实现数据集合间join操作            hadoop,python
  120  1094  Rational Rose根据Java代码自动生成类图（教程和错误解决）                     java
  121  1088         MathType(数学公式编辑器) 汉化绿色版V6.7下载                 mathtype
  122  1072                JSP使用JNA调用DLL函数遇到的几个问题                     java
  123  1066                 读《疯狂的站长》- 回顾反思我的个人站长路                       站长
  124  1064                      给计算机专业求职的同学推荐几本书                     程序人生
  125  1061                        MySQL数据库存储过程教程                    mysql
  126  1057                Magento获取指定分类下的所有子分类信息              magento,php
  127  1055               WIN7使用VisualSVN建立SVN服务器                 svn,win7
  128  1044            织梦DEDECMS简洁蓝色模板免费下载（资讯文章类）                       织梦),
 (3,
  'xiao_lei',
         id                                              title  \
  129  1036                                     Django基本命令最全收集
  130  1030                  2012年百度、腾讯、微软、奇虎360、人人、去哪网找工作经历总结
  131  1022                                 PHP对数组的高级遍历和操作处理方法
  132  1014                          使用PHP连接、操纵Memcached的原理和教程
  133  1005                    Django关于站点管理Admin Site的常见问题解决方法
  134  1001                对Django框架架构和Request/Response处理流程的分析
  135   970                                    PHP开发者最好的学习资源收集
  136   955     Ubuntu10.10 Server+Nginx+Django+Postgresql安装步骤
  137   930                      PHP和MySQL处理树状、分级、无限分类、分层数据的方法
  138   920                                  PHP创建和解析JSON数据的方法
  139   914                                程序员做开发，前台、后台、测试哪个累？
  140   912                             PHP的验证码实现（w3schools推荐）
  141   897                                    国外10个非常有趣的PHP博客
  142   886                                 PHP读写Word文件的最佳类库收集
  143   874                          2012年度读写Excel文件的最佳PHP类库收集
  144   855           使用Google搭建自己的SVN或Git或Mercurial代码服务器之完美教程
  145   821                          PHP远程操纵WordPress的方法(流程剖析）
  146   818                              Python模拟登陆新浪微博并实现投票功能
  147   814          Django中定制自己的User和Group管理模块（类似对admin的二次开发）
  148   811                 django1.4设置模板路径和CSS,JS,image等路径的方法
  149   808                              珠玑：在仔细研究数据的基础上得出程序的结构
  150   796             Python使用cookielib和urllib2模拟登陆新浪微博并抓取数据
  151   790                     《SEO实战密码》高清电子版PDF下载地址（SEO学习必备）
  152   781                              重装Win7后恢复和找回Ubuntu启动项
  153   756                            putty连接linux出现中文乱码的解决方法
  154   754  Ubuntu 安装 PostgreSQL 和 python-psycopg2基础教程（以及错...
  155   749                          eclipse远程发布代码的方法（SSH自动同步）
  156   747                         python在linux下安装方法（解决旧版本冲突）
  157   740                                    2012年度PHP最佳类库收集
  158   734                                  php判断远程文件或网站是否能打开
  159   731                PHP数据采集之使用CURL、DOMDocument和DOMXPath
  160   724                                   Python关于apply的知识
  161   722                        Python知识之什么是*args和**kwargs？
  162   717                   PHP魔法方法之__sleep()方法和__wakeup()方法
  163   712                                      Python中的操作符重载
  164   707                                 数据采集简单示例：采集爱帮网电话号码
  165   700                  数据采集技术之在Python中Libxml模块安装与使用XPath
  166   686                          Python操作Mysql实例代码教程（查询手册）
  167   678                     MySQL-python Windows下EXE安装文件下载
  168   675                                数据采集必备知识-php计划任务的实现
  169   658                                 个人博客SEO第一步-提交自己的网站
  170   655                                   情理之中又意料之外的超强减肥方法
  171   647                          新浪微博的mid转换成base62格式的PHP函数

                      tags
  129        django,python
  130                 程序人生
  131                  php
  132    memcached,php,数据库
  133        django,python
  134        django,python
  135                  php
  136  django,ngnix,ubuntu
  137            mysql,php
  138             json,php
  139                 程序人生
  140              php,验证码
  141                  php
  142             php,word
  143            excel,php
  144              git,svn
  145        php,wordpress
  146            python,爬虫
  147        django,python
  148        django,python
  149                   算法
  150       python,模拟登陆,爬虫
  151                  seo
  152    linux,ubuntu,win7
  153        python,ubuntu
  154               ubuntu
  155       eclipse,python
  156         linux,python
  157                  php
  158                  php
  159               php,爬虫
  160               python
  161               python
  162                  php
  163               python
  164               php,爬虫
  165            python,爬虫
  166     mysql,python,数据库
  167               python
  168               php,爬虫
  169                  seo
  170                 程序人生
  171               php,爬虫  ),
 (4, 'xiao_bo',       id                                        title  \
  172  639        windows下PHP环境（apache,PHP,Mysql）详细配置方法
  173  636                          PHP100视频教程2012版解压密码
  174  629                     Redis+Mysql模式和内存+硬盘模式的异同
  175  611  Redis详细完整教程-windows下的安装、测试(php+redis+mysql)
  176  604            Windows Live Writer快捷方式（打开服务器文档等）
  177  600                              PHP字符串函数、知识要点总结
  178  591                             PHP数组使用、特性、函数的总结
  179  581                                  PHP对文件的操作总结
  180  576                            PHP操作符可变变量测试变量等总结
  181  548                                     有句话说的非常好
  182  545                       [C++]数据结构之堆-上滤下滤以及用于排序
  183  540                          C++拆分字符串代码（实现split）
  184  515                   看完这20部电影相当于学了经济学（投资理财必看电影）
  185  512          Adobe Dreamweaver CS6官方简体中文版安装+破解过程
  186  505               win7系统笔记本设置成虚拟WiFi热点（即“无线路由器”）
  187  502                  按大小拆分超大文件的方法（本文测试了一个62G的文件）
  188  499                            Dedecms备份还原网站有效方法
  189  495                    WIN7下硬盘安装Ubuntu 11.10系统成功
  190  491                          程序员找工作网啊站-计算机专业学生必看
  191  485                         被深深鄙视的2012找暑期实习，哥很伤心
  192  483                    phpmyadmin远程连接mysql数据库的方法
  193  480                           mysql用命令行链接远程主机的方法
  194  478                            c/c++批量向mysql插入数据
  195  471                     [站长]推荐一个网页分享按钮条插件JiaThis
  196  466                 [网址]在线转换编码-BASE64_URLENCODE等
  197  454                           [PHP]发送邮件方法介绍和代码示例
  198  449                 [C++]win32输出当前系统时间函数，可用以程序计时
  199  444            [转]office – word2010每次打开弹出配置框解决方法
  200  414    Linux下GCC和Makefile实例（从GCC的编译到Makefile的引入）
  201  410                                   让QT支持中文的方法
  202  408                           QT-creater一个非常棒的教程
  203  402           玩大灾变出现“igxprd32显示驱动程序已经停止正常工作”解决方法
  204  391                     在GATE工具中使用自己的XSD模式进行语义标注
  205  381                C++ Primer 4th：第九章 《顺序容器》学习心得
  206  259                       win7下快速硬盘安装ghost xp的方法
  207  254                               C++实现字符串与数字的连接
  208  251             c++字符集之间转换(UTF-8,UNICODE,Gb2312)
  209  245     数据采集利器-PHP用DOM方式处理HTML之《Simple HTML DOM》
  210  236                                  C++数组类型学习笔记
  211  234                           C++标准库string类型学习笔记
  212  224                               9个高质量图标的最佳搜索引擎
  213  219                        navicat-MySQL前台管理工具利器
  214  215                               17个非常有用的PHP类和库

                           tags
  172  apache,mysql,php,windows
  173                       php
  174               mysql,redis
  175           mysql,php,redis
  176                 wordpress
  177                       php
  178                       php
  179                       php
  180                       php
  181                      程序人生
  182                       c++
  183                       c++
  184                      程序人生
  185               dreamweaver
  186                      win7
  187               linux,shell
  188                        织梦
  189               ubuntu,win7
  190                      程序人生
  191                      程序人生
  192                 mysql,php
  193                     mysql
  194                 c++,mysql
  195                        站长
  196                        算法
  197                 email,php
  198                       c++
  199               office,word
  200                     linux
  201                        qt
  202                        qt
  203                      魔兽世界
  204                      gate
  205                       c++
  206                      win7
  207                       c++
  208                       c++
  209                    php,爬虫
  210                       c++
  211                       c++
  212                        设计
  213                     mysql
  214                    php,类库  ),
 (5,
  'xiao_hong',
        id                                              title  \
  215  210                              使用DEDE的全国地区分类导入到其它CMS
  216  206                                         对自己将来的一些思考
  217  204                  推荐一个可以用u盘安装fedora,ubuntu等Linux的工具
  218  198                            ubuntu官方live cd和dvd下载地址
  219  195           非常好用的一款磁盘管理工具Acronis Disk Director Suite
  220  191                            jQuery圆角工具jQuery Corner

In [48]:
#将每个子dataframe存入excel
for idx,user_name,df_sub in df_subs:
    #拼接存入的文件名
    file_name = f'{splits_dir}/crazyant_blog_articles_{idx}_{user_name}.xlsx'
    df_sub.to_excel(file_name,index=False)

#### 合并excel

1. 得到要合并的excel文件列表
2. 分别读取到dataframe,给每个df添加一列用于标记来源
3. 使用pd.concat进行df批量合并
4. 将合并后的dataframe输出到excel

In [49]:
import os
#第一步
excel_names = os.listdir(splits_dir)
excel_names

['crazyant_blog_articles_5_xiao_hong.xlsx',
 'crazyant_blog_articles_1_xiao_wang.xlsx',
 'crazyant_blog_articles_4_xiao_bo.xlsx',
 'crazyant_blog_articles_0_xiao_shuai.xlsx',
 'crazyant_blog_articles_2_xiao_ming.xlsx',
 'crazyant_blog_articles_3_xiao_lei.xlsx']

In [65]:
#第二步
#放读取出来的excel的dataframe的容器
df_list = []
for excel_name in excel_names:
    #读取excel到dataframe
    excel_path = f'{splits_dir}/{excel_name}'
    excel_df = pd.read_excel(excel_path)
    #获取username,作为一列添加到excel中
    username = excel_name[-14:-5]
    print(excel_name,username)
    excel_df['username'] = username
    
    #将df添加到容器中
    df_list.append(excel_df)
excel_df

crazyant_blog_articles_5_xiao_hong.xlsx xiao_hong
crazyant_blog_articles_1_xiao_wang.xlsx xiao_wang
crazyant_blog_articles_4_xiao_bo.xlsx 4_xiao_bo
crazyant_blog_articles_0_xiao_shuai.xlsx iao_shuai
crazyant_blog_articles_2_xiao_ming.xlsx xiao_ming
crazyant_blog_articles_3_xiao_lei.xlsx _xiao_lei

,id,title,tags,username
0,1036,Django基本命令最全收集,"django,python",_xiao_lei
1,1030,2012年百度、腾讯、微软、奇虎360、人人、去哪网找工作经历总结,程序人生,_xiao_lei
2,1022,PHP对数组的高级遍历和操作处理方法,php,_xiao_lei
3,1014,使用PHP连接、操纵Memcached的原理和教程,"memcached,php,数据库",_xiao_lei
4,1005,Django关于站点管理Admin Site的常见问题解决方法,"django,python",_xiao_lei
5,1001,对Django框架架构和Request/Response处理流程的分析,"django,python",_xiao_lei
6,970,PHP开发者最好的学习资源收集,php,_xiao_lei
7,955,Ubuntu10.10 Server+Nginx+Django+Postgresql安装步骤,"django,ngnix,ubuntu",_xiao_lei
8,930,PHP和MySQL处理树状、分级、无限分类、分层数据的方法,"mysql,php",_xiao_lei
9,920,PHP创建和解析JSON数据的方法,"json,php",_xiao_lei
10,914,程序员做开发，前台、后台、测试哪个累？,程序人生,_xiao_lei
11,912,PHP的验证码实现（w3schools推荐）,"php,验证码",_xiao_lei
12,897,国外10个非常有趣的PHP博客,php,_xiao_lei
13,886,PHP读写Word文件的最佳类库收集,"php,word",_xiao_lei
14,874,2012年度读写Excel文件的最佳PHP类库收集,"excel,php",_xiao_lei
15,855,使用Google搭建自己的SVN或Git或Mercurial代码服务器之完美教程,"git,svn",_xiao_lei
16,821,PHP远程操纵WordPress的方法(流程剖析）,"php,wordpress",_xiao_lei
17,818,Python模拟登陆新浪微博并实现投票功能,"python,爬虫",_xiao_lei
18,814,Django中定制自己的User和Group管理模块（类似对admin的二次开发）,"django,python",_xiao_lei
19,811,"django1.4设置模板路径和CSS,JS,image等路径的方法","django,python",_xiao_lei
20,808,珠玑：在仔细研究数据的基础上得出程序的结构,算法,_xiao_lei
21,796,Python使用cookielib和urllib2模拟登陆新浪微博并抓取数据,"python,模拟登陆,爬虫",_xiao_lei
22,790,《SEO实战密码》高清电子版PDF下载地址（SEO学习必备）,seo,_xiao_lei
23,781,重装Win7后恢复和找回Ubuntu启动项,"linux,ubuntu,win7",_xiao_lei
24,756,putty连接linux出现中文乱码的解决方法,"python,ubuntu",_xiao_lei
25,754,Ubuntu 安装 PostgreSQL 和 python-psycopg2基础教程（以及错...,ubuntu,_xiao_lei
26,749,eclipse远程发布代码的方法（SSH自动同步）,"eclipse,python",_xiao_lei
27,747,python在linux下安装方法（解决旧版本冲突）,"linux,python",_xiao_lei
28,740,2012年度PHP最佳类库收集,php,_xiao_lei
29,734,php判断远程文件或网站是否能打开,php,_xiao_lei
30,731,PHP数据采集之使用CURL、DOMDocument和DOMXPath,"php,爬虫",_xiao_lei
31,724,Python关于apply的知识,python,_xiao_lei
32,722,Python知识之什么是*args和**kwargs？,python,_xiao_lei
33,717,PHP魔法方法之__sleep()方法和__wakeup()方法,php,_xiao_lei
34,712,Python中的操作符重载,python,_xiao_lei
35,707,数据采集简单示例：采集爱帮网电话号码,"php,爬虫",_xiao_lei
36,700,数据采集技术之在Python中Libxml模块安装与使用XPath,"python,爬虫",_xiao_lei
37,686,Python操作Mysql实例代码教程（查询手册）,"mysql,python,数据库",_xiao_lei
38,678,MySQL-python Windows下EXE安装文件下载,python,_xiao_lei
39,675,数据采集必备知识-php计划任务的实现,"php,爬虫",_xiao_lei
40,658,个人博客SEO第一步-提交自己的网站,seo,_xiao_lei
41,655,情理之中又意料之外的超强减肥方法,程序人生,_xiao_lei
42,647,新浪微博的mid转换成base62格式的PHP函数,"php,爬虫",_xiao_lei

In [60]:
#第三步：使用pd.concat()合并各df
df_merged = pd.concat(df_list)

In [61]:
df_merged.shape

(258, 4)

In [62]:
df.head()

   A
0  0
1  1
2  2
3  3
4  4

In [66]:
df_merged['username'].value_counts()

xiao_ming    43
xiao_wang    43
4_xiao_bo    43
xiao_hong    43
iao_shuai    43
_xiao_lei    43
Name: username, dtype: int64

In [68]:
#第四步：将合并后的df保存成excel
df_merged.to_excel(f'{work_dir}/crazyan_blog_articles_merged.xlsx',index=False)

#### MultiIndex

In [ ]:
new_df.index.names

## pandas数据类型：DateTimeIndex

常用于创建日期序列,通过指定周期和频率(年月日)
default的频率是天

In [ ]:
import pandas as pd

#以日期为频率创建日期序列
datelist = pd.date_range('2019/08/21',periods=5)
datelist

In [ ]:
#以月为频率
datelist = pd.date_range('2019/08/21',periods=5,freq='M')
datelist

In [ ]:
#构建某个区间的时间序列
start = pd.datetime(2017,11,1)
end = pd.datetime(2017,11,5)
dates = pd.date_range(start,end)
dates

## panel

### pandas从版本0.20.0开始弃用它，推荐使用DataFrame的MultiIndex方法表示三维数据

用于存储三维结构的数据类型，通常将panel看成dataframe的容器
有三个维度：
items -axis 0 每个项目对应于内部包含的数据帧(DataFrame)
major_axis - axis 1,它是每个数据帧(DataFrame)的行索引
minor_axis -axis 2,它是每个数据帧(DataFrame)的列索引

In [17]:
import numpy as np
import pandas as pd
#创建
p = pd.Panel(np.arange(24).reshape(4,3,2),
            items=list('ABCD'),    #第一维标签
            major_axis=pd.date_range('20130101',periods=3),#第二维标签
            minor_axis=['first','second']#第三维标签
            )
p

TypeError: object() takes no parameters

In [ ]:
#从items_axis维度查看(其实查看到的是一个dataframe)
p['A']

In [ ]:
#从major_axis维度查看
p.major_xs('2013-01-01')

In [ ]:
#从minor_axis维度查看
p.minor_xs('first')

## 缺失值处理

In [35]:
import pandas as pd
import numpy as np

studf = pd.read_excel('./mayipandas_files/datas/student_excel/student_excel.xlsx',skiprows=2)

In [36]:
studf

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

发现有很多缺失值

In [37]:
#使用isnull()判空，若为空则返回True
studf['分数'].isnull()

0     False
1     False
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9     False
10    False
Name: 分数, dtype: bool

In [38]:
#与isnull()相反，为notnull()
studf['科目'].notnull()

0      True
1      True
2      True
3     False
4      True
5      True
6      True
7     False
8      True
9      True
10     True
Name: 科目, dtype: bool

In [39]:
#使用布尔索引过滤出不是空行的行
studf.loc[studf['科目'].notnull()]

    Unnamed: 0   姓名  科目    分数
0          NaN   小明  语文  85.0
1          NaN  NaN  数学  80.0
2          NaN  NaN  英语  90.0
4          NaN   小王  语文  85.0
5          NaN  NaN  数学   NaN
6          NaN  NaN  英语  90.0
8          NaN   小刚  语文  85.0
9          NaN  NaN  数学  80.0
10         NaN  NaN  英语  90.0

In [1]:
# 删除掉全是空值的列
# axis='columns'指定删除的是列
#how='all'表示删除的条件:如果该列都为空，则删除掉，当how='any'时是直接删除
#inplace=True：修改当前的dataframe
studf.dropna(axis='columns',how='all',inplace=True)

NameError: name 'studf' is not defined

In [43]:
#删除掉全是空值的行
studf.dropna(axis='index',how='all',inplace=True)
studf

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   NaN
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [44]:
#将分数列为空的替换成0
studf.fillna({'分数':0})

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   0.0
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [46]:
#将姓名的缺失值进行填充
#method='fill'表示使用前面的值进行填充
studf.loc[:,'姓名'] = studf['姓名'].fillna(method='ffill')
studf

    姓名  科目    分数
0   小明  语文  85.0
1   小明  数学  80.0
2   小明  英语  90.0
4   小王  语文  85.0
5   小王  数学   NaN
6   小王  英语  90.0
8   小刚  语文  85.0
9   小刚  数学  80.0
10  小刚  英语  90.0

In [49]:
#将清洗完的数据进行保存
#参数：io给出一个生成文件的路径名字
#参数:index＝False表示将最左边的索引列不生成在excel中
studf.to_excel('./mayipandas_files/datas/student_excel/student_excel_clean.xlsx',index=False)

## pandas分组聚合

许多情况下，我们将数据分成多个集合，并在每个子集上应用一些函数，在应用函数时，可以执行以下操作
1. 聚合，计算汇总统计
2. 转换，执行一些特定于组的操作
3. 过滤，在某些情况下丢弃数据

In [28]:
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [30]:
# 1.根据year分组
grouped = df.groupby('Year')
grouped.groups

{2014: Int64Index([0, 2, 4, 9], dtype='int64'),
 2015: Int64Index([1, 3, 5, 10], dtype='int64'),
 2016: Int64Index([6, 8], dtype='int64'),
 2017: Int64Index([7, 11], dtype='int64')}

In [32]:
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [20]:
#查看某个分组的细节
grouped.get_group(2014)

     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

In [23]:
import numpy as np
# 2.对分组进行聚合操作
#聚合函数为每个组返回聚合值，当创建了分组(groupby)对象，
#就可以对每个分组数据执行聚合(标准差等操作)
grouped = df.groupby('Year')
grouped.groups

{2014: Int64Index([0, 2, 4, 9], dtype='int64'),
 2015: Int64Index([1, 3, 5, 10], dtype='int64'),
 2016: Int64Index([6, 8], dtype='int64'),
 2017: Int64Index([7, 11], dtype='int64')}

In [26]:
#聚合:对每一个分组求points字段的均值
grouped['Points'].agg(np.mean)

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

In [33]:
#按照年份输出每列的均值
grouped.mean()

      Rank  Points
Year
2014   2.5  795.25
2015   2.5  769.50
2016   1.5  725.00
2017   1.5  739.00

In [34]:
#按照年份输出最大值
grouped.max()

        Team  Rank  Points
Year
2014  Royals     4     876
2015   kings     4     812
2016  Riders     2     756
2017  Riders     2     788

In [35]:
#统计每一年的样本个数
grouped.count()

      Team  Rank  Points
Year
2014     4     4       4
2015     4     4       4
2016     2     2       2
2017     2     2       2

In [36]:
#也是输出每年下面的样本个数
grouped.size()

Year
2014    4
2015    4
2016    2
2017    2
dtype: int64

In [41]:
#聚合：对按year分组后的每个字段求均值，标准差,和
grouped.agg([np.mean,np.sum,np.std])

     Rank                Points
     mean sum       std    mean   sum        std
Year
2014  2.5  10  1.290994  795.25  3181  87.439026
2015  2.5  10  1.290994  769.50  3078  65.035888
2016  1.5   3  0.707107  725.00  1450  43.840620
2017  1.5   3  0.707107  739.00  1478  69.296465

In [ ]:
#层次索引
grouped.agg([np.mean,np.sum]).loc[]

In [25]:
#聚合：对每个分组求points字段的和，标准差
grouped['Points'].agg([np.mean,np.sum,np.std])

        mean   sum        std
Year
2014  795.25  3181  87.439026
2015  769.50  3078  65.035888
2016  725.00  1450  43.840620
2017  739.00  1478  69.296465

In [ ]:
#针对不同的字段，使用不同的聚合函数
grouped.agg({'NA_Sales':np.sum,'EU_Sales':np.mean})

In [ ]:
#每个字段也可计算多个聚合函数
grouped.agg({'NA_Sales':[np.sum,np.median],'EU_Sales':[np.mean,np.sum]})

In [ ]:
#使用自定义的聚合函数
def DoubleSUM(data):
    s = data.sum()*2
    return s
grouped.agg({'EU_Sales':DoubleSUM})

In [40]:
#按照多个字段进行分组，然后使用聚合函数
df.groupby(by=['Year','Points']).median()

             Rank
Year Points
2014 701        4
     741        3
     863        2
     876        1
2015 673        3
     789        2
     804        1
     812        4
2016 694        2
     756        1
2017 690        2
     788        1

## pandas数据表关联操作(与sql非常相似)

In [ ]:
#学生表和班级表的相同字段为class_id
#学生表
left = pd.DataFrame({
         'student_id':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
         'student_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung', 'Billy', 'Brian', 'Bran', 'Bryce', 'Betty', 'Emma', 'Marry', 'Allen', 'Jean', 'Rose', 'David', 'Tom', 'Jack', 'Daniel', 'Andrew'],
         'class_id':[1,1,1,2,2,2,3,3,3,4,1,1,1,2,2,2,3,3,3,2], 
         'gender':['M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F'], 
         'age':[20,21,22,20,21,22,23,20,21,22,20,21,22,23,20,21,22,20,21,22], 
         'score':[98,74,67,38,65,29,32,34,85,64,52,38,26,89,68,46,32,78,79,87]})
#班级表
right = pd.DataFrame(
         {'class_id':[1,2,3,5],
         'class_name': ['ClassA', 'ClassB', 'ClassC', 'ClassE']})
# 合并两个DataFrame
data = pd.merge(left,right)
data

In [ ]:
#使用how参数merge,默认是内连接inner(且一般也是使用内连接)
#how='left':左连接：使用左侧对象(表)的键
#how='right':右连接：使用右侧对象(表)的键
#how='outer':全外连接：使用键的联合
#how='inner':内连接：使用键的交集

In [ ]:
pd.merge(left,right,on='class_id',how='left')

In [ ]:
pd.merge(left,right,on='class_id',how='outer')

In [ ]:
pd.merge(left,right,on='class_id',how='inner')

## pandas透视表与交叉表

透视表的概念可以参考数据库，作用是方便我们拿到原始数据集中的一块数据

tips:透视表是各种电子表格程序和其他数据分析软件中一种常见的数据汇总工具，他根据一个或多个键对数据进行分组聚合(比groupby更加灵活)，并根据每个分组进行数据汇总

In [ ]:
import pandas as pd 

#原始数据
left = pd.DataFrame({
         'student_id':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
         'student_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung', 'Billy', 'Brian', 'Bran', 'Bryce', 'Betty', 'Emma', 'Marry', 'Allen', 'Jean', 'Rose', 'David', 'Tom', 'Jack', 'Daniel', 'Andrew'],
         'class_id':[1,1,1,2,2,2,3,3,3,4,1,1,1,2,2,2,3,3,3,2], 
         'gender':['M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F'], 
         'age':[20,21,22,20,21,22,23,20,21,22,20,21,22,23,20,21,22,20,21,22], 
         'score':[98,74,67,38,65,29,32,34,85,64,52,38,26,89,68,46,32,78,79,87]})
right = pd.DataFrame(
         {'class_id':[1,2,3,5],
         'class_name': ['ClassA', 'ClassB', 'ClassC', 'ClassE']})
# 合并两个DataFrame
df = pd.merge(left,right)
df

In [ ]:
#透视表
#以class_id与gender做分组汇总数据，默认聚合统计所有列｀
a = df.pivot_table(index=['class_id','gender'])
print(a)
print('*'*45)
#根据行级标签访问
print(a.loc[1])
print('*'*45)
print(a.loc[1,'F'])
print('*'*20)
print(a.loc[1,'F']['age'])
#age,score,student_id这三列都为平均值

In [ ]:
#以class_id与gender做分组汇总数据，聚合统计score列
print(df.pivot_table(index=['class_id','gender'],values=['score']))

In [ ]:
#以class_id与gender做分组汇总数据，聚合统计score列，针对age的每个值列级分组统计
print(df.pivot_table(index=['class_id','gender'],values=['score'],columns=['age']))

In [ ]:
#以class__id与gender做分组汇总数据，聚合统计score列，针对age的每个值列级分组统计，添加行，列总计
print(data.pivot_table(index=['class_id','gender'],
                               values=['score'],
                               columns=['age'],
                               margins=True))

In [ ]:
#以class_id与gender做分组汇总数据，聚合统计score列，针对age的每个值列级分组统计，添加行，列总计
print(df.pivot_table(index=['class_id','gender'],
                     values=['score'],
                     columns=['age'],
                     aggfunc='max',
                     margins=True))

## 交叉表：用于计算分组频率的特殊透视表

In [ ]:
#按照class_id分组，针对不同的gender，统计数量
pd.crosstab(df.class_id,df.gender,margins=True)

## pandas可视化：基于matplotlib的，得装matplotlib

In [ ]:
import numpy as np
import matplotlib.pyplot as mp 

df = pd.DataFrame(np.random.randn(10,4),index=pd.date_range('2018/12/18',
   periods=10), columns=list('ABCD'))
df.plot(kind='bar')#kind参数，'bar'柱状图，'hist'直方图，'scatter'散点图
mp.show()

###### 等等

## 数据读取与存储

## 布尔索引:根据条件过滤出满足条件的记录

In [ ]:
import pandas as pd
import numpy as np
#bool索引：根据条件过滤出满足条件的记录
df = pandas.DataFrame(np.random.randn(4,4),columns=['A','B','C','D'])
df

In [ ]:
df.A > 0

In [ ]:
df[df.A > 0]

## pandas常用函数

In [ ]:
#df.query(条件),选取满足条件的行(对象)

In [ ]:
#df.isin(列表)，判断df中数据是否在列表的数据中，若在则返回true
#往往和布尔索引结合使用
df['E'] = ['a','a,','c','b']
df

In [ ]:
df.E.isin(['a','c'])

In [ ]:
df[df.E.isin(['a','c'])]